.main_div{
    border: 3px solid whitesmoke;
    border-radius: 30px;
    padding: 20px;
    padding-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 18px whitesmoke;
    margin-top: 20px;
}
.img-responsive{

    width: 50%;
    height: 20%;
}
.result
 {
     box-shadow: 5px 5px 18px grey;

     background: linear-gradient(to right, #c6ffdd, #c471ed, #fbd786, #12c2e9 , #f7797d ,   #f64f59);
     border-radius: 20px;
     margin-top:30px;
     padding: 20px;
     border:2px solid grey
 }